a, a:hover {
	cursor:pointer;
	text-decoration:none;
	-webkit-transition:color .3s ease-in-out;
	   -moz-transition:color .3s ease-in-out;
			transition:color .3s ease-in-out;   
}

html {
	background:#fafafa;
	font-size:16px;
}

.navbar {
	margin-bottom:0;
}

.sidebar.fixed {
	position:fixed;
	top:0;
}

.box {
	box-shadow:0 0 5px #ddd;
	margin-bottom:2%;
	background:#fff;	
}

.box-content {
	padding:4%;
}

.main {
	float:right;
	width:75%;
}

.sidebar {
	background:#fff;
	float:left;
	margin-right:4%;
	width:20%;
}

.sidebar a {
	display:block;
}

.sidebar li {
	display:block;
	font-size:18px;
	border:1px solid #e5e5e5
}

.nav-list {
	padding:0;
}

.nav-list > li > a {
	padding:5% 10%;
}

.main h1 {
	padding:2%;
	font-size:26px;
	margin-top:0;
}